---

kubernetesVersion: {{ kubernetes_version }}
talosVersion: {{ talos_version }}

clusterName: {{ cluster_name }}
endpoint: {{ cluster_endpoint }}
additionalMachineCertSans:
  - {{ hostvars[groups['control_planes'][0]]['ansible_host'] }}
  - 127.0.0.1
  - {{ vip_address }}
additionalApiServerCertSans:
  - {{ cluster_name }}.local
  - {{ vip_address }}
  - 127.0.0.1

{#cniConfig:
  name: none#}

nodes:
{% for host in groups['control_planes'] %}
  - hostname: {{ host }}
    ipAddress: {{ hostvars[host].ansible_host }}
    installDisk: {{ install_disk }}
    controlPlane: true
    networkInterfaces:
      - interface: eth0
        addresses:
          - {{ hostvars[host].ansible_host }}/24
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: {{ ip_gateway }}
        vip:
          ip: {{ vip_address }}
  {% endfor %}


{% if groups['workers'] is defined and groups['workers']|length > 0 %}
{% for host in groups['workers'] %}
  - hostname: {{ host }}
    ipAddress: {{ hostvars[host].ansible_host }}
    installDisk: {{ install_disk }}
    controlPlane: false
    networkInterfaces:
      - interface: eth0
        addresses:
          - {{ hostvars[host].ansible_host }}/24
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: {{ ip_gateway }}
{% endfor %}
{% endif %}


patches:

  # Force nameserver
  - |-
    machine:
      network:
        nameservers:
          {% for dnsip in dns_servers %}
          - {{ dnsip }}
          {% endfor %}

  # Mirror registries
  - |-
    machine:
      registries:
        mirrors:
          docker.io:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-docker.io
            overridePath: true
          ghcr.io:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-ghcr.io
            overridePath: true
          gcr.io:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-gcr.io
            overridePath: true
          registry.k8s.io:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-registry.k8s.io
            overridePath: true
          nexus.resort-manager.com:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-nexus
            overridePath: true
          docker.resort-manager.com:
            endpoints:
              - http://{{ harbor_ip }}/v2/proxy-nexus
            overridePath: true

  # Configure NTP
  - |-
    machine:
      time:
        disabled: false
        servers: ["pool.ntp.org"]

controlPlane:
  patches:
    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnControlPlanes: {{ cluster_schedule_on_controlplane }}
{#        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0 #}
{#        proxy:
          disabled: true #}
{#}        network:
          cni:
            name: none #}
{#        scheduler:
          extraArgs:
            bind-address: 0.0.0.0 #}
